description: "RestWLS configuration file"
version: "0.1"

configurations:
   base_config: &base
      --- Base url for your WLS admin server including port
      baseurl: http://myserver:7001/management/weblogic/latest
      base64auth: <base64 auth string>

   ohi_datasources_health:
      <<: *base
      name: OHI readonly datasource check
      servers: [ osb_server1, osb_server2 ]

      --- note the camelcasing!
      resultattribute: numAvailable
      url: /domainRuntime/serverRuntimes/[SERVER]/JDBCServiceRuntime/JDBCDataSourceRuntimeMBeans/MyDataSource
      responsemessage: OHI datasource currently using [RESULT] connections
      --- less then
      warning:
        lessthan: 25
        message: OHI at [SERVER] has too much connections at [RESULT] connections
      critical:
        --- other options are lessthan and greaterthan
        expression: 39|40
        message: OHI at [SERVER] is overloaded at [RESULT] connections

      --- This will only add performancedata if you used a scalar in warn / critical, ie. a lessthan / greaterthan
      performancedata: true

      --- Treat an unknown value as a critical
      unknownascritical: true

